/*Especial de Areas*/

.categoria {
    background: rgba(255,255,255,0.05);
    padding: 1.5rem;
    border-radius: 10px;
    border-top: 3px solid var(--color-acento);
}

.lista-areas li {
    margin: 1rem 0;
    padding: 1rem;
    background: rgba(0,113,227,0.05);
    border-radius: 8px;
}

.imagen-fondo {
    width: 100%; /* ancho completo o el que necesites */
    height: 300px; /* ajusta el alto según la imagen */
    background-image: url('Areas.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* o cover, según quieras */
    margin-top: 20px; /* espacio para separar de otros elementos */
}

